.header{
	width: 100%;
	height: 4rem;
	text-align: center;
}
.header_search{
	margin: 0.75rem;
	width: 14.375rem;
	height: 2.5rem;
	background-color: #df4d1f;
	border: 0;
	border-radius: 1rem;
	color: #fff;
	padding-left: 0.75rem;
}
.header .search{
	width: 1.2rem;
	height: auto;
	margin: -2.6rem 0 0 5.2rem;
}

.lesson_list .lesson{
	width: 100%;
	height: 6rem;
	box-sizing: border-box;
	padding: 0.6rem;
	background-color: white;
	display: table;
	border-bottom: 1px solid #eee;
}
.lesson .lesson_name{
	font-size: 0.9rem;
	color: #ec5d2f;
	font-weight: 700;
}
.time{
	width: 1rem;
	height: auto;
}
.lesson .date{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
